.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.title {
    margin-top: 50px;
}

.image {
    width: 300px;
    height: 450px;
    margin-top: 10px;
}

.rating {
    margin-top: 10px;
    margin-left: 20px;
}

.year {
    margin-top: 10px;
    margin-left: 20px;
}

.desc {
    margin-top: 10px;
    margin-left: 20px;
}

.actors {
    margin-top: 10px;
    margin-left: 20px;
}

.directors {
    margin-top: 10px;
    margin-left: 20px;
}

.genres {
    margin-top: 10px;
    margin-left: 20px;
}