.container {
    display: flex;
    flex-direction: row;
}

.movie_card {
    width: 170px;
    height: 250px;
    padding: 10px;
    background-color: #112240;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_card a {
    text-decoration: none;
    color: white;
}

.movie_card:hover {
    position: relative;
    width: 170px;
    height: 250px;
    padding: 10px;
    scale: 1.5;
    background-color: #112240;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all 0.5s ease;
}

.movie_image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie_name {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 12px;
}

.movie_rating {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 10px;
}

.movie_year {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 8px;
}

.movie_info {
    display: flex;
    flex-direction: column;
}

.movie_desc {
    display: none;
    margin-top: 20px;
    color: lightgray;
    font-size: 10px;
}

.favorite_button {
    position: relative;
    bottom: 10px;
    left: 140px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.movie_card:hover .movie_image {
    width: 75px;
    height: 110px;
    transition: all 0.5s ease;
}

.movie_card:hover .movie_name {
    display: block;
}

.movie_card:hover .movie_rating {
    display: block;
}

.movie_card:hover .movie_year {
    display: block;
}

.movie_card:hover .movie_desc {
    display: block;
}

.movie_card:hover .favorite_button {
    display: block;
    position: absolute;
    bottom: 10px;
    right: -5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}