* {
    margin: 0;
    padding: 0;
}

.body {
    background: #0A192F;
}

.container {
    position: fixed;
    background-color: #0A192F;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

:root {
    --color-palette-hover-background: #112240;
    --color-palette-light-background: #133040;
    --color-palette-background: #0A192F;
    --color-palette-dark-background: #071221;
    --color-palette-darker-background: #020C1B;
    --color-palette-light-turquoise: #64FFDA;
    --color-palette-dark-turquoise: #57DCC0;
    --color-palette-light-gray: #CCD6F6;
    --color-palette-gray: #8892B0;
    --color-palette-dark-gray: #495670;
    --color-palette-darker-gray: #233554;
}